<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Get off my back"/>
    <meta name="author" content="Richard Selneck"/>
    <title>Abeditor</title>
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/abeditor.css"/>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Abeditor || </a>
          <a class="navbar-brand" href="#" id="file-name">
            <p></p>
            <input style="display: none" type="text"></input>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div id="navbar-menu"></div>
          <div id="navbar-data" class="navbar-right"></div>
        </div>
      </div>
    </nav>

    <div class="hidden">
      {{#if error}}
      <div  id="initial-error"
            data-message="{{error}}">
      </div>
      {{/if}}
      {{#if account}}
      <div  id="account-info"
            data-id="{{account.id}}"
            data-username="{{account.username}}"
            data-ghname="{{account.githubName}}"
            data-ghtoken="{{account.githubToken}}">
      </div>
      {{/if}}
      <div id="room-id">{{room}}</div>
    </div>

    <div class="container">
      <!-- The info and error containers go here to match the width of the main content -->
      <div id="info-container">
        <div class="alert alert-info" role="alert">
          <button type="button" class="close info-close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p id="info-message"></p>
        </div>
      </div>
      <div id="error-container">
        <div class="alert alert-danger" role="alert">
          <button type="button" class="close error-close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p id="error-message"></p>
        </div>
      </div>

      <!-- The "Open Gist" dialog -->
      <div id="open-gist" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Open Gist</h4>
            </div>
            <div id="open-gist-content">
              <div id="open-gist-body" class="modal-body"></div>
              <div class="modal-footer">
                <button id="close-gist" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- The editor -->
      <div id="editor"></div>
    </div>

    <div class="container">
      <footer>
        <hr />
        <p>&copy; 2017 Michael Cohen, Richard Selneck</p>
      </footer>
    </div>

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/react.min.js"></script>
    <script type="text/javascript" src="/js/react-dom.min.js"></script>
    <script type="text/javascript" src="/js/filesaver.min.js"></script>
    <script type="text/javascript" src="/js/ace/ace.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/dashboard-bundle.js"></script>
  </body>
</html>
